@model SignupModel
@if(Model is not null){
    <section class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm rounded p-6 bg-gray-800">
            <form method="POST" action="/Post/Create" enctype="multipart/form-data" class="space-y-6">
                <div class="flex items-center space-x-3">
                    <img src="" class="w-12 h-12 rounded-full" alt="User">
                    <div>
                        <h4 class="font-semibold text-white">@Model.name</h4>
                        <p class="text-white text-sm">@Model.type</p>
                    </div>
                </div>

                <div>
                    <label for="password" class="block text-sm leading-6 font-medium text-white">Description</label>
                    <div class="mt-2">
                        <textarea name="description" rows="4" placeholder="What's on your mind?" class="w-full mt-1 p-2 border rounded-lg text-gray-700 focus:ring-2 focus:ring-blue-400"></textarea>
                    </div>
                </div>

                <div>
                    <label class="block text-white text-sm font-medium">Upload Image</label>
                    <input type="file" name="postImage" class="w-full mt-1 border rounded-lg p-2 text-white focus:ring-2 focus:ring-blue-400">
                </div>

                <div>
                    <button type="submit"
                            class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm leading-6 font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:ring-2 focus-visible:ring-indigo-600 focus-visible:ring-offset-2">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </section>
}
